@import '../../assets/styles/mixins.scss';


.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 29px;
  justify-items: center;

  @include for-md {
    grid-template-columns: 1fr 1fr ;
    gap: 16px;
  }

  @include for-lg {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 29px;
  }

  @include for-sm {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  @include for-xs {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.row {
  display: flex;
  flex-direction: column;
}
