/* Nunito */
@font-face {
  font-weight: 400;
  font-family: 'Nunito';
  font-style: normal;
  font-display: auto;
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

/* Nunito-Italic */
@font-face {
  font-weight: 400;
  font-family: 'Nunito';
  font-style: italic;
  font-display: auto;
  src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}