.icon {
  display: block;
  width: 47.94px;
  height: 47.94px;
  background-image: url('../imgs/star.svg');
  background-size: 95.88px 47.94px;
  background-position: -47.94px 0;
}

.favorite {
  background-position: 0 0;
}