@import './variables';

@mixin typo-h1 {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

@mixin typo-h2 {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

@mixin typo-body {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
